body{
    background-color: lightgray;
    font-family: 'Fredericka the Great', cursive;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

}

h1{ 
    color: black;
    text-align: center;
    font-size: 50px;
}

#picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#display{
  font-size: 30px;
  align-self: center;
}
.top_part{
  width: 100%;
  align-items: center;
  text-align: center;
  
}
.top_button {
  text-align: center;
}
.bottom_part{
  width: 100%;
  align-items: center;
  text-align: center;
  
  
}
.bottom_button {
  
  text-align: center;
  
} 
#displayThree {

  font-size: 30px;
  align-self: center;
  margin-right: 350px;
  margin-left: 350px;

}



